@tailwind base;
@tailwind components;
@tailwind utilities;

body{
background:#020617;
color:white;
font-family:sans-serif;
}
html, body {
  scroll-behavior: auto;
}

.section{
@apply max-w-7xl mx-auto px-6 py-12;
}

/* Custom Premium Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #050505;
  border-left: 1px solid rgba(255, 255, 255, 0.05);
}

::-webkit-scrollbar-thumb {
  background: #2a2a2a;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #f59e0b; /* Amber 500 */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #2a2a2a #050505;
}